.tag {
  padding: 6px 16px 6px 16px;
  border: 1px solid rgba(170, 170, 170, 1);
  border-radius: 8px;
  font-family: 'Source Sans 3', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #aaaaaa;
  font-size: 12.8px;
  display: inline-block;
  margin-right: 8px;
  cursor: pointer;
  user-select: none;
}

.selected {
  border: 1px solid #61bb61;
  background-color: #61bb61;
  color: #ffffff;
}
