.sign-up {
  padding: 24px 10px 24px 10px;
  margin-top: 98.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-up h2 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #333333;
  font-size: 46px;
}

.checkbox input {
  margin-top: 16px;
  margin-right: 10px;
}

.checkbox {
  color: #333333;
  margin-right: 100px;
}

label,
.sign-up p {
  font-family: 'Source Sans 3', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
